@model List<BigShool.Models.ApplicationUser>
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>

<ul class="course">
    @foreach (var following in Model)
    {
        <li>
            <div>
                <div>
                    @following.Name
                </div>
            </div>
        </li>
    }
</ul>